<div class="content">
  <h3>About this task</h3>
  <p>Estimated time 2 hrs</p>
  <h4>Goal</h4>
  <p>The aim of this task is to evaluate a number of techniques frequently used in Angular 2</p>
  <p>These include data manipulation, service calls and use of components.</p>
  <p>The goal is not to see how much you know about angular but how you solve the problem, research and refer to other examples
    and explain your decision making in code comments where possible.</p>
  <p>The tasks tab will contain your solution.</p>
  <p>The solution should include</p>
  <ul>
    <li>A button to call data from the rest service.</li>
    <li>A list of the data including the name and social media platform, sorted into size order.</li>
    <li>The data does not need to sortable beyond this.</li>
    <li>A user pressing the button to call data should get new data and display it.</li>
    <li>BONUS - A user should be able to filter the list of data by name.</li>
  </ul>
  <h4>Hints and Tips</h4>
  <ul>
    <li>Don't change any code in the rest service, assume no errors are thrown from here either.</li>
    <li>Don't worry about using typescript types or applying css styles</li>
    <li>All components and services required should be present within the task folder.</li>
    <li>Investigate using promises, observables and component pipes.</li>
    <li>Consider explanations for your choices thinking about performance, stability</li>
    <li>The components set up should already include the required imports.</li>
    <li>Feel free to use online resources.
      <a href="http://www.angular.io" target="_blank">This</a> is a useful starting point.</li>
  </ul>
  <h4>Example</h4>
  <img height=400 src="app/example.png">
</div>